<html lang="en">
  <head>
    <%- include('../components/header.ejs',{title:'Assistant Dashboard '})%>
    <style>
      .form-check {
        width: fit-content;
      }
      .form-check-input {
        background-color: #dc3545;
      }
      .form-check-input:checked {
        background-color: #198754;
      }
    </style>
  </head>
  <body class="g-sidenav-show bg-gray-300">
    <div
      class="min-height-300 bg-gradient-primary position-absolute w-100"
    ></div>
    <%- include('../components/navbar.ejs') %>

    <div class="row ms-auto mt-4 px-4 justify-content-start z-index-1">
      <div class="form-check form-switch col-10">
        <input class="form-check-input" type="checkbox" id="set-availability" />
        <label
          class="form-check-label font-weight-bolder"
          for="set-availability"
          >Available</label
        >
      </div>
    </div>

  </div>

  <div>
    <% for( let a = 0; a < record_list.length; a++ ) { %>
      <%  record = record_list[a] %>
    <div class="row mt-4 px-4">
      <h6 class="lead route-id z-index-1 text-black">
        Delivery ID : <%= record[0].delivery_id %>
      </h6>
    </div>
    <div class="row mt-4 px-4">
      <h6 class="lead route-id z-index-1 text-black">
        Route : <%= record[1].route %>
      </h6>
    </div>

    <div class="row mt-4 px-5 orders">
      <% for( let i = 2; i < record.length; i++ ) { %> <% order =
      record[i] %>
      <div class="card my-3 bg-gray-100">
        <div class="card-body">
          <h5 class="title">Order ID# <%= order.order_id %></h5>
          <p class="card-text">Customer Name : <%= order.customer %></p>
          <p class="card-text">Address : <%= order.address %></p>
          <p class="card-text">Order Date : <%= order.order_date %></p>
          <p class="card-text">Due Date : <%= order.due_date %></p>
          <% console.log(order) %>
            <div>
              <table>
              <tr align="center">
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
              </tr>
              <% for( let j = 0; j < order.products.length; j++ ) { %>
                <% product = order.products[j] %>
                <tr align="center">
                  <td><p class="card-text"><%= product.product_id %></p></td>
                  <td><p class="card-text"><%= product.product_name %></p></td>
                  <td><p class="card-text"><%= product.quantity %></p></td>
                  <td><p class="card-text"><%= product.unit_price %></p></td>
                </tr>
              <% } %>
            </table>
            </div>
          <a href="#" class="btn btn-outline-danger">Confirm</a>
        </div>
      </div>
      <% } %>
    </div>
    <% } %> 
  </div>

    <%- include('../components/js-scripts.ejs') %>
  </body>
</html>
